.container {
  position: relative;
  width: 35%;
}

/* Make the image responsive */
.container img {
  height: auto;
  min-width: 300px;
  max-width: 300px;

}

/* Style the button and place it in the middle of the container/image */
.container .button1 {
  position: absolute;
  display: flex;
  top: 60%;
  left: 120%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  /* padding: 12px 12px; */
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 38px;
}

.container .button2 {
  position: absolute;
  display: flex;
  top: 23%;
  left: 112%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  /* padding: 12px 12px; */
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 38px;
}

.container .button3 {
  position: absolute;
  display: flex;
  top: 58%;
  left: 140%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  /* padding: 12px 12px; */
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 38px;
}

.container .ich {
  position: absolute;
  display: flex;
  top: 52.8%;
  left: 124.8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}

.container .text10{
  position: absolute;
  display: flex;
  top: 12%;
  left: 120%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 35px;
  height: 23px;
  font-weight: bold;
  border-radius: 16px;
  align-items: center;
}

.container .text11{
  position: absolute;
  display: flex;
  top: 25%;
  left: 138%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}
.container .text12{
  position: absolute;
  display: flex;
  top: 54%;
  left: 145%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}
.container .text13{
  position: absolute;
  display: flex;
  top: 92%;
  left: 129%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}
.container .text14{
  position: absolute;
  display: flex;
  top: 80%;
  left: 110%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}
.container .text15{
  position: absolute;
  display: flex;
  top: 55%;
  left: 105%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}

.container .text2{
  position: absolute;
  display: flex;
  top: 30%;
  left: 132%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}

.container .text3{
  position: absolute;
  display: flex;
  top: 40%;
  left: 122%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 10px;
  height: 38px;
  font-weight: bold;
}

