.container img {
  width: 100%;
  height: auto;

  border-radius: 10px;
  overflow: hidden;
}

// https://css-tricks.com/snippets/sass/placing-items-circle/
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: $angle / 2+180;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 6, $circle-size: 20em, $item-size: 6em);
  margin-top: 50px;
  margin-left: 40px;
  background-image: url("./safetyNet.png");
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 30%;

  .btn {
    display: block;
    max-width: 100%;
    border-radius: 50%;
  }
}

.circle-container.dark{
  filter: invert(1);
  > * {
    filter: invert(1);
  }
}
